# DB env variables
DB_USER=myuser
DB_PASSWORD=mysecretpassword
DB_NAME=mydbname
DB_HOST=postgres
DB_PORT=5432
# next js admin env variables
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost
NEXT_PUBLIC_KEYCLOAK_REALM=matematyka-app
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=nextjs-app