### !!! ATTENTION every link from from trycloudflare.com is diffrent every time !!! ###
DOMAIN=https://attitudes-switch-uncertainty-supplied.trycloudflare.com

# Flask Database
DB_USER=flask_user
DB_PASSWORD=silne_losowe_haslo_1
DB_NAME=app_db

# Keyklok DB
KC_DB_USER=keycloak
KC_DB_PASSWORD=silne_losowe_haslo_2
KC_DB_NAME=keycloak

# Admin for Keycloak panel
KC_ADMIN_PASSWORD=admin

# Next.js Staff
NEXT_PUBLIC_KEYCLOAK_REALM=matematyka-app
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=nextjs-app