# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

app/static/
static/
backend/app/static/
**/static
/backend/app/static/*
/backend/app/static/uploads/*
!/backend/app/static/uploads/.gitkeep