EXPO_PUBLIC_KEYCLOAK_URL=https://attitudes-switch-uncertainty-supplied.trycloudflare.com
EXPO_PUBLIC_BACKEND_URL=https://attitudes-switch-uncertainty-supplied.trycloudflare.com
### !!! ATTENTION every link from from trycloudflare.com is diffrent every time !!! ###